html {
    overflow-y: scroll;
}

h1 {
    font-size: 5.75vw;
    text-align: center;
    margin-top: 14px;
    color: white;
}

body {
    background-color: #F560A3;
}

.navbar {
    background-color: #410272;
}

a {
    color: black;
}

a:hover {
    color: #353535;
}

.btn {
    background-color: #BB6DD5;
    color: black;
}

/*<div class="bg" style="background:#670D0F">
</div>
<div  class="bg" style="background:#F01945">
</div>
<div  class="bg" style="background:#F36444">
</div>
<div  class="bg" style="background:#FFCE6F">
</div>
<div  class="bg" style="background:#FFE3C9">
</div>*/

.bagoo-space {
    margin: 1.3vw;
}
/*menu icon*/

.glyphicon-menu-hamburger {
    font-size: 5vw;
}

.bagoo-slide-btn {
    display: none;
    margin-top: 3.3vw;
    margin-left: 10px;
}

.bagoo-skinny-col {
    padding-left: 7px;
    padding-right: 7px;
}
/*equal height columns*/
/* +item to be centered:
    margin-left: auto;
    margin-right: auto;
    */
/*/////////////////////////////////*/

.bagoo-big-btn {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
/*/////////////////////////////////*/

.bagoo-eq-height-col {
    -webkit-align-items: center;
    align-items: center;
}

.bagoo-eq-height-row,
.bagoo-eq-height-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
/*stolen sidebar css*/

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav {
    list-style: none;
    margin-top: 20px;
    padding-left: 0px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #020202;
    /*color: white;*/
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #A2A2A2;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #030303;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #9A9A9A;
    background: none;
}

.bagoo-sm-menu {
    text-indent: 1vw;
    font-size: 14px;
}
/*media queries*/
/*small screens*/

@media(min-width:1640px) {
    h1 {
        font-size: 60pt;
    }
}
/*extra-small screens*/

@media(max-width:767px) {
    #sidebar-wrapper {
        display: none;
    }
    .bagoo-slide-btn {
        display: block!important;
    }
    h1 {
        font-size: 9vw;
    }
    .bagoo-space {
        margin: 4vh;
    }
    .bagoo-skinny-col {
        padding-left: auto;
        padding-right: auto;
        margin-left: 15px;
        width: 20%;
    }
    .bagoo-title-col {
        width: 76%;
        padding-left: 5px;
    }
}
/*smaller extra-small screens*/

@media(max-width:496px) {
    h1 {
        font-size: 9.7vw;
    }
    .bagoo-slide-btn {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 4vw;
    }
    .bagoo-skinny-col {
        padding-left: auto;
        padding-right: auto;
        margin-left: 15px;
        width: 19%;
    }
    .bagoo-title-col {
        width: 76%;
        padding-left: 0px;
    }
}

@media(max-width:349px) {
    h1 {
        font-size: 9.5vw;
    }
}
/*end sidebar css*/
/*home page specific css*/

.bagoo-arrow {
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
/*end homepg*/

div {
    /*border: 1px solid black;*/
}
