<html>

	<head>
		<script and style></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="../Styles/style.css">
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    	<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    	<script src="../Scripts/script.js"></script>
    	<script src="../Scripts/Canvas.js"></script>
	</head>

	<body>

		<h2>BAGOO CLOSET</h2>



		<div id='cssmenu'>
			<ul>
  	 			<li class='active'><a href='#'><span>Home</span></a></li>
   				<li><a href='#'><span>Closet</span></a></li>
   				<li><a href='#'><span>Add</span></a></li>
   				<li class='last'><a href='#'><span>Get Dressed</span></a></li>
			</ul>
		</div>
		
		<div id="wardrobe">
		<img src="../Assets/wardrobe.png">
		</div>

		<button>corner menu</button>
		<button id="add">ADD clothing</button>


	</body>



</html>