<html>

	<head>
		<script and style></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="style.css">
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    	<script src="script.js"></script>
    	<script src="canvas.js"></script>
	</head>

	<body>

		<h2>BAGOO CLOSET</h2>
		
		<div id="wardrobe">
		<img src="wardrobe.png">
		</div>

		<button>corner menu</button>
		<button id="add">ADD clothing</button>

	</body>



</html>