<!doctype html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bagoo Closet | Add Clothing</title>

    <!-- reset browser -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Loading Flat UI -->
    <link href="../lib/flatUI/dist/css/flat-ui.min.css" rel="stylesheet">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <!-- my styles -->
    <link rel="stylesheet" href="../styles/all-pages.css">
    <link rel="stylesheet" href="../styles/add-clothing.css">
    <!-- Parse -->
    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>

</head>


<body>

    <div class="container">

        <!-- top bar with title and menu icon -->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="row">

            <!-- menu icon -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bagoo-skinny-col">
                <a href="#menu-toggle" class="btn btn-default bagoo-slide-btn" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>

            <!-- title -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 bagoo-title-col">
                <h1>BAGOO CLOSET</h1>
            </div>

        </div>

        </nav>

        <div id="godown">
        </div>

        <!-- content and sidebar -->
        <div class="row bagoo-eq-height" id="wrapper">

            <!-- sidebar menu -->
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="../index.html">Home</a>
                        </li>
                        <li><a href="browseClothing.html">Clothing</a>
                        </li>
                        <li><a href="browseClothing.html" class="bagoo-sm-menu">Browse</a>
                        </li>
                        <li><a href="addClothing.html" class="bagoo-sm-menu">Add</a>
                        </li>
                        <li><a href="browseOutfits.html">Outfits</a>
                        </li>
                        <li><a href="browseOutfits.html" class="bagoo-sm-menu">Browse</a>
                        </li>
                        <li><a href="outfitBuilder.html" class="bagoo-sm-menu">Build</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- content -->
            <div class="col-sm-10">

                <!-- image and attributes -->
                <div class="row">

                    <div class="col-sm-5" id="pic">
                        <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg%5D&w=330&h=340"></center>
                    </div>

                    <!-- attributes -->
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-10">


                                <form class="form-horizontal bagoo-form">
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control flat" id="inputName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputType" class="col-sm-2 control-label">Type</label>
                                        <div class="col-sm-10">
                                            <select class="form-control select select-primary select-block mbl" id="inputType">
                                                <option>Shirt</option>
                                                <option>Pants</option>
                                                <option>Dress</option>
                                                <option>Shoes</option>
                                                <option>Accessory</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEvent" class="col-sm-2 control-label">Event</label>
                                        <div class="col-sm-10">
                                            <select multiple="multiple" class="form-control multiselect multiselect-info mbl" id="inputEvent">
                                                <option selected>Select</option>
                                                <option>Salsa</option>
                                                <option>Lazy Days</option>
                                                <option>Dinner Out</option>
                                                <option>Everyday</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputColour" class="col-sm-2 control-label">Colour</label>
                                        <div class="col-sm-10">
                                            <select multiple="multiple" class="form-control multiselect multiselect-info mbl" id="inputColour">
                                                <option>Pink</option>
                                                <option>Yellow</option>
                                                <option>Black</option>
                                                <option>Brown</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>


                            </div>

                            <!-- end img and attr -->
                        </div>

                        <div class="bagoo-space">
                        </div>

                        <!-- buttons -->
                        <div class="row bagoo-eq-height-row">

                            <div class="col-sm-4 col-xs-4 bagoo-eq-height-col">
                                <button class="btn btn-default btn-block bagoo-big-btn">SAVE</button>
                            </div>
                            <div class="col-sm-4 col-xs-4 bagoo-eq-height-col">
                                <button class="btn btn-default btn-block bagoo-big-btn">Delete</button>
                            </div>
                            <div class="col-sm-4 col-xs-4 bagoo-eq-height-col">
                                <button class="btn btn-default btn-block bagoo-big-btn">New Outfit
                                    <br> Using This</button>
                            </div>

                            <!-- end buttons -->
                        </div>

                    </div>

                    <!-- end content div -->
                </div>

                <!-- end content and sidebar div -->
            </div>

            <!-- end container div -->
        </div>



        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Flat UI -->
        <script src="../lib/flatUI/dist/js/vendor/video.js"></script>
        <script src="../lib/flatUI/dist/js/flat-ui.min.js"></script>
        <!-- Menu Toggle Script -->
        <script src="../scripts/Controller.js"></script>
            <!-- Models -->
    <script src="../scripts/models/clothing.js"></script>
    <!-- Controllers -->
    <script src="../scripts/controllers/addClothing-controller.js"></script>
    <script src="../scripts/controllers/browseClothing-controller.js"></script>
    <!-- Clothes Manager -->
    <script src="../scripts/models/ClothesManager.js"></script>
    <script src="../scripts/app.js"></script>

</body>

</html>
