<!doctype html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bagoo Closet | Outfits</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/all-pages.css">
    <link rel="stylesheet" href="../Styles/browse.css">


</head>


<body>


        <!-- top bar with title and menu icon -->
        <div class="bagoo-top-bar">
            <div class="row">

                <!-- menu icon -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bagoo-skinny-col bagoo-header-col">
                    <a href="#menu-toggle" class="btn btn-default bagoo-slide-btn" id="menu-toggle">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </div>

                <!-- title -->
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 bagoo-title-col">
                    <h1>BAGOO CLOSET</h1>
                </div>

            </div>
            <!-- search bar -->
            <div class="row bagoo-search-bar">
                <div class="col-md-2 bagoo-header-col">
                </div>
                <div class="col-md-8 col-sm-9 col-xs-11 bagoo-header-col">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>




    <div class="container">



        <!-- content and sidebar -->
        <div class="row" id="wrapper">


            <!-- sidebar menu -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="../index.html">Home</a>
                        </li>
                        <li><a href="browseClothing.html">Clothing</a>
                        </li>
                        <li><a href="browseClothing.html" class="bagoo-sm-menu">Browse</a>
                        </li>
                        <li><a href="addClothing.html" class="bagoo-sm-menu">Add</a>
                        </li>
                        <li><a href="browseOutfits.html">Outfits</a>
                        </li>
                        <li><a href="browseOutfits.html" class="bagoo-sm-menu">Browse</a>
                        </li>
                        <li><a href="outfitBuilder.html" class="bagoo-sm-menu">Build</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- content -->
            <div class="col-lg-10 col-sm-10 col-xs-12">

                <div class="bagoo-space">
                </div>

                <!-- outfit displays -->
                <div class="row">

                    <div class="col-sm-3 col-xs-4">
                        <center><img class="img-responsive bagoo-outfit" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg%5D&w=330&h=650"></center>
                    </div>

                    <div class="col-sm-3 col-xs-4">
                        <center><img class="img-responsive bagoo-outfit" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg%5D&w=330&h=650"></center>
                    </div>

                    <div class="col-sm-3 col-xs-4">
                        <center><img class="img-responsive bagoo-outfit" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg%5D&w=330&h=650"></center>
                    </div>

                    <div class="col-sm-3 col-xs-4">
                        <center><img class="img-responsive bagoo-outfit" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg%5D&w=330&h=650"></center>
                    </div>

                </div>


                <!-- end content div -->
            </div>

            <!-- end content and sidebar div -->
        </div>

        <!-- end container div -->
    </div>



    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script src="../Scripts/Controller.js"></script>

</body>

</html>
