<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bagoo Closet | Browse</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
    <!-- <link rel="stylesheet" href="../Styles/app.css" /> -->
</head>

<body>

    <div class="row" id="header">
        <div class="small-7 small-centered columns">
            <h1>BAGOO CLOSET</h1>
        </div>
    </div>

    <div class="row">

        <!-- menu -->
        <div class="small-2 columns">
            <ul>
                <li><a href="../index.html">Home</a>
                </li>
                <li><a href="browseClothing.html">Clothing</a>
                </li>
                <li><a href="browseOutfits.html">Outfits</a>
                </li>
            </ul>
        </div>


        <!-- main content -->
        <div class="small-10 columns">

            <!-- Search bar -->
            <div class="row collapse postfix-round">
                <div class="small-7 small-offset-1 columns">
                    <input type="text" placeholder="Search Term(s)">
                </div>
                <div class="small-3 columns">
                    <a href="#" class="button postfix">Search</a>
                </div>
                <!-- keep search box and button together -->
                <div class="small-1 columns">
                </div>
            </div>

            <!-- clothing displayed -->
            <ul class="small-block-grid-4">
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
                <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=200&h=250"></li>
            </ul>

        </div>




    </div>


</body>

</html>
