<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bagoo Closet | Home</title>
    <link rel="stylesheet" href="../Styles/foundation.css" />
    <link rel="stylesheet" href="../Styles/app.css" />
    <script src="../Scripts/foundationFiles/vendor/modernizr.js"></script>
</head>

<body>

    <div class="row" id="header">
        <h1>BAGOO CLOSET</h1>
    </div>

    <div class="row">
        <div class="large-6 columns" id="menu">
            <ul class="accordion" data-accordion>
                <li class="accordion-navigation">
                    <a href="index.html">Home</a>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel2a">Clothing</a>
                    <div id="panel2a" class="content">
                        <a href="addClothing.html">hats and cats</a>
                    </div>
                </li>
                <li class="accordion-navigation">
                    <a href="#panel3a">Outfits</a>
                    <div id="panel3a" class="content">
                        <a href="#">shirts and wurts</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="large-6 columns">
            <div class="row">
                <ul class="large-block-grid-1">
                    <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=400&h=240"></li>
                    <br>
                    <li><img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg&w=400&h=240"></li>
                </ul>
            </div>
            <a href="#" class="button">Default Button</a>
        </div>

        <div class="large-3 columns">
            <a href="#" class="button">Default Button</a>
        </div>

    </div>


    <script src="../Scripts/foundationFiles/vendor/jquery.js"></script>
    <script src="../Scripts/foundationFiles/foundation.min.js"></script>
    <script src="../Scripts/Model.js"></script>
    <script src="../Scripts/Controller.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
