<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>test buttons</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/all-pages.css">
</head>


<body>
    <div class="container">

        <div class="row bagoo-eq-height-row">

            <div class="col-sm-4 col-xs-4 bagoo-eq-height-col">
                <button class="btn btn-default btn-block bagoo-big-btn">SAVE</button>
            </div>
            <div class="col-sm-4 col-xs-4 bagoo-eq-height-col">
                <button class="btn btn-default btn-block bagoo-big-btn">Delete</button>
            </div>
            <div class="col-sm-4 col-xs-4 bagoo-eq-height-col">
                <button class="btn btn-default btn-block bagoo-big-btn">New Outfit
                    <br> Using This</button>
            </div>

            <!-- end buttons -->
        </div>

        <div class="row">
            dere aint nuttin here!
        </div>

        <div class="row bagoo-eq-height-row">

            <div class="col-xs-3 bagoo-eq-height-col">
                <button class="btn-block bagoo-big-btn">
                    words
                </button>
            </div>
            <div class="col-xs-3 bagoo-eq-height-col">wriosndfnodjnfoansdoasdokajfo<br>isdhfoiasjdoaisjdoiasjdoaisjdoiajsfoij<br>sdoifjsodifjoasijdoiasjdokn<br>gksdnfoaisdnoaisjdoaijsdoiasjdoisad
            </div>
        </div>
    </div>
</body>

</html>
