.bagoo-form {
    background-color: #CFCFCF;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
}

#inputKeywords {
    background-color: #CFCFCF;
    border-color: #CFCFCF;
    border-bottom-color: #9C9C9C;
    border-radius: 0px;
}

#inputKeywords:hover {
    border-bottom-color: #6A6A6A;
}

#wrapper {
    font-family: 'Roboto', sans-serif;
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
}

#bagoo-file-input {
    visibility: hidden;
    display: block;
}

#bagoo-add-img:hover {
    cursor: pointer;
}

#bagoo-add-img {
    color: #160F32;
    position: relative;
    left: 320px;
    top: -50px;
}
