html {
    overflow-y: scroll;
}

h1 {
    font-size: 5.75vw;
    text-align: center;
    margin-top: 14px;
}

a {
    color: #A5A5A5;
}

a:hover {
    color: #353535;
}

.bagoo-space {
    margin: 1vw;
}

/*menu icon*/

.glyphicon-menu-hamburger {
    font-size: 5vw;
}

.bagoo-slide-btn {
    display: none;
    margin-top: 3.3vw;
    margin-left: 10px;
}

.bagoo-skinny-col {
    padding-left: 7px;
    padding-right: 7px;
}

/*equal height columns*/

/* +item to be centered:
    margin-left: auto;
    margin-right: auto;
    */

.bagoo-eq-height-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.bagoo-eq-height-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

/*stolen sidebar css*/

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav {
    list-style: none;
    margin-top: 20px;
    padding-left: 0px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #020202;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #A2A2A2;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #030303;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #9A9A9A;
    background: none;
}

.bagoo-sm-menu {
    text-indent: 1vw;
    font-size: 14px;
}
/*media queries*/
/*small screens*/

@media(min-width:1640px) {
    h1 {
        font-size: 60pt;
    }
}
/*extra-small screens*/

@media(max-width:767px) {
    #sidebar-wrapper {
        display: none;
    }
    .bagoo-slide-btn {
        display: block!important;
    }
    h1 {
        font-size: 9vw;
    }
}
/*smaller extra-small screens*/

@media(max-width:496px) {
    h1 {
        font-size: 9.7vw;
    }
    .bagoo-slide-btn {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 4vw;
    }
    .bagoo-skinny-col {
        padding-left: auto;
        padding-right: auto;
        width: 17.2%;
    }
    .bagoo-title-col {
        width: 82.8%;
        padding-left: 5px;
    }
}

@media(max-width:349px) {
    h1 {
        font-size: 9.5vw;
    }
}
/*end sidebar css*/

/*home page specific css*/
.bagoo-arrow {
    font-size: 4vw;
    margin-left: auto;
    margin-right: auto;
}
/*end homepg*/