html {
    overflow-y: scroll;
}

h1 {
    font-size: 5.75vw;
    text-align: center;
    margin-top: 14px;
}

ul {
    margin-top: 10px;
}

a {
    color: #A5A5A5;
}

a:hover {
    color: #353535;
}
/*menu icon*/

.glyphicon-menu-hamburger {
    font-size: 5vw;
}

.bagoo-slide-btn {
    display: none;
    margin-top: 3.3vw;
    margin-left: 10px;
}

.bagoo-skinny-col {
    padding-left: 7px;
    padding-right: 7px;
}
/*"recommended outfit"*/

.bagoo-img-stack {
    list-style: none;
}

#bagoo-img-stack {
    padding-left: 0px;
}
/*arrows*/

.bagoo-arrow {
    font-size: 4vw;
    position: relative;
    top: 31px;
}

.glyphicon-chevron-left {
    margin-left: 8px;
}

.bagoo-arrow-contain {
    line-height: 34vw;
}


/*stolen sidebar css*/

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav {
    list-style: none;
    margin-top: 20px;
    padding-left: 0px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #020202;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #A2A2A2;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #030303;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #9A9A9A;
    background: none;
}
/*media queries*/
/*small screens*/

@media(min-width:1640px) {
	h1 {
		font-size: 60pt;
	}
	.bagoo-arrow-contain {
		line-height: 25vw;
	}
}

@media(max-width:1639px) and (min-width:1420px) {
	.bagoo-arrow-contain {
		line-height: 30vw;
	}
}

@media(max-width:1199px) and (min-width:1080px) {
	.bagoo-arrow {
		top: 23px;
	}
}

@media(max-width:992px) {
    .bagoo-btm-btn {
        font-size: 1.2vw;
        padding: 6px;
    }
    .bagoo-arrow {
        top: 0px;
    }
    .glyphicon-chevron-left {
    	margin-left: 0px;
	}
}

@media(max-width:940px) and (min-width: 826px) {
	.bagoo-arrow {
		top: 12px;
	}
}

@media(max-width:825px) {
    .bagoo-btm-btn {
        font-size: 1.5vw;
        /*padding: 6px;*/
    }
    .bagoo-no-pad {
    	padding: 6px;
    }
    .bagoo-arrow {
    	top: 20px;
    }
}
/*extra-small screens*/

@media(max-width:767px) {
    #sidebar-wrapper {
        display: none;
    }
    .bagoo-slide-btn {
        display: block!important;
    }
    h1 {
        font-size: 9vw;
    }
    .bagoo-btm-btn {
        font-size: 3vw;
    }
    .img-responsive {
    	min-width: 100%;
    }
    .bagoo-arrow-contain {
    	line-height: 96vw;
	}
	.bagoo-arrow-col {
		padding-left: 10px;
	}
}
/*smaller extra-small screens*/

@media(max-width:496px) {
	h1 {
		font-size: 9.7vw;
	}
    .bagoo-slide-btn {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 4vw;
    }
    .bagoo-skinny-col {
        padding-left: auto;
        padding-right: auto;
        width: 17.2%;
    }
    .bagoo-title-col {
        width: 82.8%;
        padding-left: 5px;
    }
    .bagoo-btm-btn {
        font-size: 4vw;
        padding-left: 3px;
        padding-right: 3px;
    }
    .bagoo-no-pad {
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media(max-width:400px) {
	.bagoo-arrow-col {
		padding-left: 3px;
	}
}

@media(max-width:349px) {
	h1 {
		font-size: 9.5vw;
	}
	.bagoo-arrow-col {
		padding-left: 7px;
	}
}

/*end sidebar css*/

div {
    /*border: solid 1px grey;*/
}
