div {
    /*border: solid 1px grey;*/
}

.bagoo-search-bar {
    padding-bottom: 10px;
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
}


/*<div class="bg" style="background:#670D0F">
</div>
<div  class="bg" style="background:#F01945">
</div>
<div  class="bg" style="background:#F36444">
</div>
<div  class="bg" style="background:#FFCE6F">
</div>
<div  class="bg" style="background:#FFE3C9">
</div>*/
