<!doctype html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bagoo Closet | Build Outfit</title>

    <!-- reset browser -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Loading Flat UI -->
    <link href="../lib/flatUI/dist/css/flat-ui.min.css" rel="stylesheet">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <!-- my styles -->
    <link rel="stylesheet" href="../styles/all-pages.css">
    <link rel="stylesheet" href="../styles/browse.css">


</head>

<body>

    <div class="container">
        <!-- top bar with title and menu icon and search bar-->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="row">

                <!-- menu icon -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bagoo-skinny-col">
                    <a href="#menu-toggle" class="btn btn-default bagoo-slide-btn" id="menu-toggle">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </div>

                <!-- title -->
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 bagoo-title-col">
                    <h1>BAGOO CLOSET</h1>
                </div>

            </div>

        </nav>

        <div id="godown">
        </div>



        <!-- content and sidebar -->
        <div class="row" id="wrapper">


            <!-- sidebar menu -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="../index.html">Home</a>
                        </li>
                        <li><a href="browseClothing.html">Clothing</a>
                        </li>
                        <li><a href="browseClothing.html" class="bagoo-sm-menu">Browse</a>
                        </li>
                        <li><a href="addClothing.html" class="bagoo-sm-menu">Add</a>
                        </li>
                        <li><a href="browseOutfits.html">Outfits</a>
                        </li>
                        <li><a href="browseOutfits.html" class="bagoo-sm-menu">Browse</a>
                        </li>
                        <li><a href="outfitBuilder.html" class="bagoo-sm-menu">Build</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- content -->
            <div class="col-lg-10 col-sm-10 col-xs-12">

                <div class="row">

                    <div class="col-xs-1">
                    </div>

                    <!-- outfit -->
                    <div class="col-md-4 col-xs-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg%5D&w=330&h=200"></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=%5Bimg%5D&w=330&h=200"></center>
                            </div>
                        </div>

                        <div class="bagoo-space">
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <a href="#" class="btn btn-default btn-block">Random Outfit</a>
                            </div>
                        </div>

                        <!-- end outfit column -->
                    </div>

                    <div class="col-xs-1">&nbsp;
                    </div>


                    <!-- box with search bar and alternate clothing options -->
                    <div class="col-md-4 col-xs-10 col-xs-offset-1">

                        <div class="row" style="border: solid black 1px; margin-top: 10px; margin-bottom:10px">
                            <div class="col-xs-12">
                                <div class="row" style=" margin-top: 8px; margin-bottom: 4px">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-4">
                                        <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=%5Bimg%5D&w=100&h=100"></center>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=%5Bimg%5D&w=100&h=100"></center>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=%5Bimg%5D&w=100&h=100"></center>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=%5Bimg%5D&w=100&h=100"></center>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=%5Bimg%5D&w=100&h=100"></center>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <center><img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=20&txt=%5Bimg%5D&w=100&h=100"></center>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <center><a href="#">Load More</a></center>
                                    </div>
                                    <div class="col-xs-7">
                                        <center><a href="#">See All Clothing</a></center>
                                    </div>
                                </div>
                            </div>

                            <!-- end row which is bordered box -->
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-default btn-block">SAVE</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-default btn-block">Delete</a>
                            </div>
                        </div>

                        <!-- end bordered box and buttons -->
                    </div>

                    <!-- end content row -->
                </div>

                <!-- end content column -->
            </div>

            <!-- end sidebar and content -->
        </div>

        <!-- end container -->
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Flat UI -->
    <script src="../lib/flatUI/dist/js/vendor/video.js"></script>
    <script src="../lib/flatUI/dist/js/flat-ui.min.js"></script>

    <!-- Menu Toggle Script -->
    <script src="../scripts/Controller.js"></script>

</body>

</html>
